.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

/* score tabel code */

.tabel {
  position: relative;
  top: 150px;
  left: 50px;
}

.score-t {
  float: left;
  color: gainsboro;
  border: 2px solid grey;
  /* padding: 10px; */
  position: relative;
  top: -50px;

}

.button-top {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  position: relative;
  top: 10px;
}

th {
  padding: 10px;
}

td {
  padding: 10px;
}